@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #e52864 #16151d;
  border-radius: 9999px;
}

html ::-webkit-scrollbar {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  width: 0.6vw;
}

html ::-webkit-scrollbar-thumb {
  background-color: #e52864;
  background-clip: padding-box;
  border-radius: 9999px;
}

html ::-webkit-scrollbar-track {
  background-color: #16151d;
}

body {
  background-color: #16151d;
  font-family: "Hind Siliguri", sans-serif;
  color: white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
span {
  color: #e52864;
}
p {
  color: #acacac;
}

h1,
h2,
h3,
a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: #e52864;
  border: none;
  outline: 0;
  padding: 18px 40px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

form {
  z-index: 99;
  display: flex;
  flex: 1;
}
input {
  width: 100%;
  cursor: pointer;
  background-color: white;
  padding: 20px;
  color: #777;
  border: 0px;
  outline: 0;
  transition: all ease 0.4s;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
}
.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e52864;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
}
.loading img {
  height: 170px;
}
.loadingCat {
  text-align: center;
  margin: 2rem auto;
}
.loadingCat img {
  height: 50px;
  width: 50px;
}
